<a class="item-link smart-select text-inherit" data-open-in="picker" data-pickercls={{pickcls}} data-back-on-select="true">
  {{yield}}
  <div class="item-content">
    <div class="item-inner text-inherit">
      <div class="item-title">{{label}} <i class="icon-arrow-solid-down"></i> </div>
    </div>
  </div>
</a>
