<div class="pages navbar-through toolbar-through addressbook-page">

  {{user-list
    url="/sell/membership-act-getuserlist"
    cached=""
    dataPage="index"
    forSelect=true
    group_id=group_id
    kw=kw
    onSelect=(action 'viewDetail')
  }}
</div>
